.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable {
    padding: 5px 0 0 0 !important;
    margin-top: 15px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.btn-filter {
    border: none;
    font-size: 19px;
}

.hiddenRow {
    padding: 0 !important;
}

.modal-body .container {
    width: inherit !important;
}

.modal-body .col-md-6.left {
    text-align: right;
}

.modal-body img {
    width: 100%;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}